{% set active_page = "AI job fail" %}
{% extends "base.html" %}

{% block top %}
{{ components.section("AAAI/ACM SIGAI AI Job Fair") }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 pb-4">
    <p class="lead">Welcome to the AAAI/ACM SIGAI AI Job Fair!<br>
    Saturday, February 6<br>
    10:30 AM - 12:30 PM PT, 6:30 - 8:30 PM PT, 2:30 AM - 4:30 AM (February 7 PT)<br><br>
    
    External Website: <a href="https://aaaijobfair.com/"> https://aaaijobfair.com/</a><br>
    
    1-Minute Company Presentations: First 30 minutes of each session<br>
    Virtual exhibits: Following 1.5 hours of each session<br><br>
    
    The AAAI and ACM SIGAI AI Job Fair provides an opportunity for a host of companies and institutions to highlight their current job opportunities. The short presentations will be followed by opportunities for job seekers to visit participating company virtual booths for one-on-one meetings. The list of participating companies is included below.<br><br>
    
    John Dickerson, Michael Albert, and Matthew E. Taylor<br>
    Job Fair Cochairs<br>
    </p>
    
    <p class="lead">AAAI/ACM SIGAI Job Fair Participating Companies:<br><br>
    Amazon<br>
    IBM<br>
    Baidu<br>
    Google Research<br>
    Sony<br>
    Apple<br>
    Bloomberg<br>
    Dataminr<br>
    LG AI Research<br>
    Meituan<br>
    Microsoft<br>
    American Friends of the Alexander von Humboldt Foundation<br>
    Ralph<br>
    Wadhwani Institute for Artificial Intelligence
    </p>
  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
