<!--{% set active_page = "Google login" %}-->

<html>


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>love</title>
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.7.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.7.1/firebase-ui-auth.css" />
    <script src="https://www.gstatic.com/firebasejs/7.4.0/firebase.js"></script>

</head>
<body style=" background: url({{config.background_image}}) no-repeat center center fixed; background-size: 100% 100%;">


    <div class="modal-dialog" style="margin-top: 10%;">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title text-center" id="myModalLabel">AAAI 2021</h4>
            </div>
            <div class="hidden" id="err" style="color: red;  margin-left: 17px;    padding-top: 8px;    margin-bottom: -8px;">
                你输入的帐号或密码不正确，请重新输入。
            </div>
            <div class="modal-body" id = "model-body">
                <div class="form-group">

                    <input type="text" id="email" class="form-control"placeholder="E-mail" autocomplete="off">
                </div>
                <div class="form-group">

                    <input type="password" id="password" class="form-control" placeholder="password" autocomplete="off">
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-primary form-control" id="login">login</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->

</body>
</html>
<script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyCwK3667exMhj25F2qLdoroTfAsZupBLek",
        authDomain: "aaai2021.firebaseapp.com",
        projectId: "aaai2021",
        storageBucket: "aaai2021.appspot.com",
        messagingSenderId: "919023164606",
        appId: "1:919023164606:web:e59d42ed5d45626a7fd2ef"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);

      $("#login").click(
            function(){
                var email = $("#email").val();
                var password = $("#password").val();
                firebase.auth().signInWithEmailAndPassword(email, password)
                  .then((user) => {
                    // Signed in
                    // ...
                    console.log(666);
                    window.location.href="/index.html";
                  })
                  .catch((error) => {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    // ..
                    $("#err").show();
                  });

      });

    </script>