<!--{% set active_page = "Google login" %}-->
{% extends "base.html" %}


{% block top %}

{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<html>


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>love</title>
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

</head>
<body style=" background: url({{config.background_image}}) no-repeat center center fixed; background-size: 100% 100%;">


    <div class="modal-dialog" style="margin-top: 10%;">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title text-center" id="myModalLabel">AAAI 2021</h4>
            </div>
            <div class="hidden" id="err" style="color: red;  margin-left: 17px;    padding-top: 8px;    margin-bottom: -8px;">
                你输入的帐号或密码不正确，请重新输入。
            </div>
            <div class="modal-body" id = "model-body">
                <div class="form-group">

                    <input type="text" id="email" class="form-control"placeholder="E-mail" autocomplete="off">
                </div>
                <div class="form-group">

                    <input type="password" id="password" class="form-control" placeholder="password" autocomplete="off">
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="button" class="btn btn-primary form-control" id="login">login</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->

</body>
</html>
<script>

      // 只在当前会话或标签页中保留身份验证状态
        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION)
          .then(function() {
            // Existing and future Auth states are now persisted in the current
            // session only. Closing the window would clear any existing state even
            // if a user forgets to sign out.
            // ...
            // New sign-in will be persisted with session persistence.
            return firebase.auth().signInWithEmailAndPassword(email, password);
          })
          .catch(function(error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
          });

      $("#login").click(
            function(){
                var email = $("#email").val();
                var password = $("#password").val();
                firebase.auth().signInWithEmailAndPassword(email, password)
                  .then((user) => {
                    window.location.href="/index.html";
                  })
                  .catch((error) => {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    // ..
                    $("#err").removeClass("hidden");
                    $("#err").addClass("show");
                    $("#password").val("");
                    setTimeout(function(){
                        $("#err").removeClass("show");
                        $("#err").addClass("hidden");
                     }, 2000);
                  });

      });

    </script>


{% endblock %}

{% block footer %}
{% endblock %}