{% set active_page = "Help Desk" %}
{% extends "base.html" %}

{% block top %}

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-7 col-sm-12 pr-5 lead">
    <p>Welcome to Help Desk!<br><br>
      Here is nothing left.
    </p>
  </div>
</div>

<div class="container">
  <div class="rocketchat-safety-valve">
    <ul>
      <li>If RocketChat does not load after 60 seconds and you would like to ask a question, please try reloading the page</li>
      <li>Raise technical issues <a class="rocketchat-help-link" href="/virtual/2020/protected/rc_helpdesk.html">here</a></li>
    </ul>
  </div>

  <div class='public-chat-title-box'>
    <span class="float-left"><a class="text-warning text-sm" href="/rocketchat/concerns"  target="_blank">Concerns</a></span>
    <a style="float:right;" class='rocketchat-full-button' href="https://localhost:3000/" target="_blank" title="Full Size">
      Full Screen
    </a>
    Chat
  </div>
  <div class="rocketchat-frame">
    <iframe frameborder="0" src="http://localhost:3000/channel/test?layout=embedded"></iframe>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}