{% set active_page = "IAAI" %}
{% extends "base.html" %}

{% block top %}

{% endblock %}

{% block content %}
{% endblock %}


{% set page_title = "IAAI" %}
{% block head %}
{{ super() }}
{% endblock %}


{% block heading %}
{{ components.section("The Thirty-Third Annual Conference on Innovative Applications of Artificial Intelligence (IAAI)") }}

<div class="row">
  <div class="col-12 pb-4">
    <p class="lead">
            The Thirty-Third Annual Conference on Innovative Applications of Artificial Intelligence (IAAI-21) is a venue
        for papers describing highly innovative realizations of AI technology. The objective of the conference
        is to showcase successful applications and novel uses of AI. The conference will use technical papers,
        best practice papers, invited talks, and panel discussions to explore issues, methods, and lessons learned
        in the development and deployment of AI applications; and to promote an interchange of ideas between basic
        and applied AI and the discourse on the actual deployment of AI in practice.
<br><br>
        IAAI-21 Invited Talks and Panels (these should be linked from here and also invited speaker page)
<br><br>
 Robert S. Engelmore Memorial Award Lecture
<br>
 Tuomas Sandholm
<br><br>
 IAAI-21/AAAI-21 Joint Invited Speaker
        <br>
 TBD
<br><br>
 IAAI-21 Invited Speaker
        <br>
 TBD
<br><br>
 AI in Practice Panel
        <br>
 TBD
      <br >
    </p>
  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}