{% set page_title = tutorial.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{tutorial.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{ tutorial.organizers }}
    </h3>
    {{ components.live_sessions(
        tutorial.blocks,
        tutorial.title,
        "https://virtual.acl2020.org/tutorial_" + tutorial.id + ".html",
        false) }}

  </div>
</div>

<div id="details" class="pp-card m-3">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Abstract:</span>
        {{tutorial.abstract|safe}} <br />
      </div>
    </div>
    <p></p>
  </div>
</div>

<script src="static/js/time-extend.js"></script>

<script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.session_times');
  })
</script>

{% endblock %}
